* {
    box-sizing: border-box;
    max-width:100%;
    
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: #27206D;
    color: #F7EBFF;
    font-family: 'Josefin Sans', sans-serif;
    margin:0;
    padding:0;
    
}

p {
    font-size:18px;
    font-weight:400;
}

.home-container1 {
    background-image: url('../img/background_glow.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    box-sizing: border-box !important;
    max-width: 100%;
    
    /* background-attachment:fixed; */

}

.home-content-container2 {
    position: relative;
    padding-top: 120px;
    align-items:center;

}

.home-content-container2 img {
    max-width: 78%;
    display:block;
    margin: 0 auto;
}

/* .menu {
    display:inline-block;
    position: absolute;
    top:55%;
    left:21%;
    transform: translateY(-30%);
    z-index: 20;

} */

.menu-rect {
    position: absolute;
    top:55%;
    left:22%;
    transform: translateY(-30%);
    z-index: 20;

    width: 140px;
    padding:15px 0;
    padding-left:20px;


    background: rgba(225, 211, 245,0.08);
    border: 1px solid #F7EBFF;
    border-radius:10px;
    backdrop-filter:blur(6px);
}
.menu-rect ul{
    list-style-type: none;
    font-size:18px;
    padding:0;
    margin:0;

}

.menu-rect ul li {
    padding-bottom:10px;


}
.menu-rect li a{
    text-decoration: none;
    color: #e0c8f0;
}

.menu-rect ul li a:hover{
    color: #bc67f5;
}

.overlap-img {
    position: absolute; 
    z-index:10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%);
    width:60%;

}


.base-img {
    display: block;
}

.parallax {
    position: relative;
    /* overflow: hidden; */
}

.parallax-img {
    position: absolute;
    transition: transform 0.1 ease-out;
    transform: translate(-50%, -50%);
}

.home-text-goal{
    background: linear-gradient(to bottom, #F7EBFF, #CEA7E8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    align-items:center;
    /* padding-left:100%;
    transform: translate(-50%, 0%); */
    font-weight:500;
    font-size: 75px;
}

.home-section2-container {
    margin-top:190px;
    /* padding: 0 20%; */
    text-align:center;
    position: relative;
    /* background-color:aqua; */

}



.image-home-pg2 {
    width:15%;
    /* position: absolute;
    top:50%;
    left:41%;
    transform: translateY(50%); */
    display: block;
    margin: -90px auto 0;
    z-index:10;
    pointer-events:none;
    z-index:1;
}

.join-container1 {
    /* background-color:aqua; */
    
    margin-top:370px;
    
}
.section-title {
    padding-top: 80px;
    text-align:center;
    background: linear-gradient(to bottom, #F7EBFF, #CEA7E8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-weight:500;
    font-size: 75px;
}

.join-grid-container2 {
    display: grid;
    grid-gap: 16.4%;
    grid-template-columns: 30% 50%;
    padding: 0 5%;
}

.column2 h2 {
    font-weight:600;
    font-size:23;
    color: #bb87df;
}

.column1 h3 {
    font-weight: 400;
    font-size: 20px;
    color: #CEA7E8;
}

.column2 p {
    font-size:18px;
    font-weight:200;
}

.column1 p {
    font-size: 20px;
    font-weight:200;
}

.coming-soon {
    text-align: center;
}

.email {
    color: #F7EBFF;
}

.contacts-container1 p {
    text-align: center;
    font-size: 18px;
    padding:0 200px;
    padding-bottom: 50px;
}

@media (max-width:900px) {
    .home-text-goal {
        font-size:43px;
    }

    .image-home-pg2 {
        margin: -50px auto 0;
    }
}

@media (max-width:850px) {
    .menu-rect {
        width:130px;
    }

    .menu-rect ul {
        font-size:14px;
    }
}


@media (max-width: 700px) {

    .contacts-container1 p {
        padding: 0 20px;
    }

    .menu-rect {
        background: transparent;
        border: none;
        border-radius: 0;
        backdrop-filter: none;
        padding-right:0;
    }



    .home-content-container2 {
        padding-top:30px;
    }

    /* .menu {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-185%,90%);
        z-index:20;

    }

    .menu ul {
        display: flex;
        gap:10px;
        font-size:10px;
    }

    .menu ul li a {
        display: block;
    } */


    
    .menu-rect ul {
        font-size: 10px;
        display: flex;
        gap:10px;
        white-space: nowrap;
        flex-direction: row;
    }

    .menu-rect{
        position: absolute;
        /* width: calc(100% - 30px); */
        top:50%;
        left:16%;
        transform: translateY(100%);
        z-index:30;
    }


    .menu-rect a {
        display: block;
    }

    .home-section2-container {
        margin-top:50px;
    }

    .image-home-pg2 {
        margin: -30px auto 0;
    }

    .join-container1 {
        margin-top:40px;
    }


    .column1 h3 {
        font-size:13px;
    }

    .column2 h2 {
        font-size:14px;
    }

    .column1 p, .column2 p {
        font-size:12px;
        font-weight:300;
    }

    .section-title {
        font-size:40px;
    }

    .home-text-goal{
        font-size:27px;
    }
    .contacts-container1 {
        padding:0 50px;
        padding-bottom:5px;
    }
    .contacts-container1 p {
        font-size:12px;
    }

}




